html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: white;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px),
    radial-gradient(circle 800px at 100% 200px, #d5c5ff, transparent);
  background-size: 96px 64px, 96px 64px, 100% 100%;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
